
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: rgb(172, 167, 167);
    color: rgb(3, 3, 3);
}


.f-red {
    background-color: red;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    color: greenyellow;
    padding: 5px;
}

.f-red:hover {
    background-color: rgb(194, 140, 140);
    border-radius: 20px;
    margin: 5px;
}
.card{
    background-color: rgb(57, 123, 134);
    display: flex;
    justify-content: space-around;
    border: solid orange;
}